# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/
.env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# Environment variables
.env
.env.*

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Migrations (optional, if you want to ignore them)
# **/migrations/

# Misc
*.bak
*.swp

.History/

node_modules
dist
.env